
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Renouvellement du mot de passe</title>
</head>
<body>
<p>
    Bonjour, <br>
    Cliquez sur ce lien pour changer votre mot de passe.

    <a href="{{absolute_url(path('reset_password', {'id': user.id, 'token': user.token}))}}">Changer le mot de passe</a>
</p>
</body>
</html>
