{# page for fill in a form  for create a new student#}
{% extends 'base.html.twig' %}

{% block body %}

    <div class="center-form"><div class="formulaire"><fieldset>
        <legend> Administrateur : entrer un nouvel utilisateur</legend>
    {{ form(user) }}
    </fieldset></div></div>



{% endblock %}