{# page for fill in a form  for create a new class#}
{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('admin') }}"> retour au panneaus des utilisateurs</a>
    <div class="center-form"><div class="formulaire"><fieldset>
                <legend> Administrateur : entrer une nouvel classe</legend>
                {{ form(class) }}
            </fieldset></div></div>
{% endblock %}