{# page for fill in a form  for create a new skill #}
{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('admin') }}"> retour au panneaus des utilisateurs</a>
    <div class="formulaire"><fieldset>
        <legend> Administrateur : entrer une nouvel compétence</legend>
        {{ form(skill) }}
    </fieldset></div>

{% endblock %}