{# page for fill in a form  for create a new class#}
{% extends 'base.html.twig' %}

{% block body %}
    <h1> Administrateur : entrer une nouvelle classe</h1>

    <a class="buttonnav" href="{{ path('admin') }}"> retour au panneau des utilisateurs</a>

    <div class="formulaire">
                {{ form(class) }}
        </div>
{% endblock %}