{# page for fill in a form  for udapte a skill #}
{% extends 'base.html.twig' %}

{% block body %}
    <a class="buttonnav" href="{{ path('admin') }}"> retour au panneau des utilisateurs</a>
    <fieldset>
        <legend> Administrateur : modifier une compétence</legend>
        {{ form(update) }}
    </fieldset>

{% endblock %}