{# page for fill in a form  for update  student#}
{% extends 'base.html.twig' %}

{% block body %}

    <div class="formulaire"><fieldset>
        <legend> Administrateur : modifier un  eleve</legend>
        {{ form(update) }}

    </fieldset></div>

{% endblock %}