{# twig for base model#}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">{% endblock %}
</head>
<body>

    <header>{% block header %}
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <p> Bonjours <b>{{ app.user.lastname }} {{ app.user.firstname }}</b></p> <a href=" {{ logout_path('main') }} ">Déconection</a>
            {% endif %}
            {% endblock %}
    </header>
    {% block body %}



    {% block javascripts %}{% endblock %}
{% endblock %}</body>
</html>
