{# twig for base model#}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Groupe Scolaire Kiesistpa{% endblock %}</title>
    <meta content="width=device-width,
    initial-scale=1" name="viewport"/>
    <meta name="description" content="groupe scolaire kiesistpa">
    <meta name="keywords" content="kiesistpa, groupe scolaire, parents, enfant">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    {% endblock %}
</head>
<body>

    <header>{% block header %}
            <h1>Groupe Scolaire Kiésistpa</h1>
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <p> <span>Bonjour, {% if is_granted('ROLE_SUPERADMIN') %}Directeur {% elseif is_granted("ROLE_ADMIN") %}Proffesseur {% else %}Parents de{% endif %} {{ app.user.lastname }} {{ app.user.firstname }}</span> <a  class="deconnection" href=" {{ logout_path('main') }} ">Déconection</a></p>
            {% endif %}
            {% endblock %}
    </header>
    <main>
        <aside>
    {% block body %}



    {% block javascripts %}{% endblock %}
{% endblock %}</aside>
    </main>
<footer></footer>
</body>
</html>
