{# page for fill in a form  for create a new student#}
{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('admin') }}"> retour au panneaus des utilisateurs</a>
    <div class="center-form"><div class="textform"><fieldset>
                <legend> Administrateur : modifier le message</legend>
                {{ form(comment) }}
            </fieldset></div></div>
{% endblock %}