{# page for fill in a form  for create a new student#}
{% extends 'base.html.twig' %}

{% block body %}
    <h1> Administrateur : modifier le message</h1>
    <a class="buttonnav" href="{{ path('admin') }}"> retour au panneaus des utilisateurs</a>
    <div class="textform">

                {{ form(comment) }}
           </div>
{% endblock %}