{#page for administrator panel#}
{% extends 'base.html.twig' %}
{% block body %}

       <h1> Notes de l'élèves : {{ nom }} {{ prenom }}</h1>

       {% for key, skill in skills %}

              {{ skill }} : {{ grades[key].grades}}<br>

       {% endfor %}

{% endblock %}
