h1{
    text-align: center;
}
.connection{
    display: inline-block;
}

header{
    background-color: cornflowerblue;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius:  20px;
    height: 130px;
    color: white;
}
#filter{
    text-align: center;
   margin-top:20px;
}

input{
    border-radius: 20px;
}

#error{

    font-size: 20px;
}

.buttonnav{
    padding: 4px 2px 4px 2px;
    text-decoration: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 20px;

}

.buttonnav:hover{

    background-color: red;

}

#pppp{
    display: inline-block;
    width: 600px;
    height: 300px;
    margin: auto;

}


.formulaire{
    width: 13%;
    line-height: 200%;
    text-align: center;
    margin: auto;

}

#comment-main-box{
    width: 80%;
    border: red solid ;
    border-radius: 20px;

    margin: auto;
}
#comment-title{
    border-bottom: red solid;
    font-size: 20px;
    text-align: center;
}
h5{
    text-align: center;
}

#averagegrade{

    display: inline-block;
    text-align: center;
    border: black solid;
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom:3%;


}
.avg{
    border: black solid;
}

legend{
    line-height: 100%;
}
table{
    margin: auto;
    text-align: center;
}

#hamburger-menu > a{
    display: inline-block;
    width: auto;
    margin-right: 15px;
    cursor: pointer;
}

#hamburger-menu >span {
    display: none;
    text-align: center;
    line-height:  5px;
    width: 80%;
    border-radius: 20px;
    padding:  10px;
    background-color: cornflowerblue;
}

#navigation{
    text-align: center;
}


@media (max-width: 1180px) {

    .mdp{
        display: none;
    }

}
@media (max-width: 600px) {

    header{
        height: auto;
    }

    .connection{
        display: block;
    }
    .pass{
        margin-left: 5%;
    }
    .hide{
        display: none;
    }


    #hamburger-menu > a{
        display: none;
    }
    #hamburger-menu > span{
        display: inline-block;
    }
    #hamburger-menu:hover >a{
        width: 80%;
        display: block;
        margin: 10px auto;
    }
    #hamburger-menu:hover > span
    {
        display: none;

    }
    #pppp{
        display: inline-block;
        width: 350px;
        height: 200px;
        margin: auto;

    }



}
    


