h1{
    text-align: center;

}

header{
    background-color: cornflowerblue;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius:  20px;
    height: 100px;
    color: white;

}

input{
    border-radius: 20px;
}