html{
height: 100%;
}
p{
    margin: 0;
    padding-left: 10px;
    font-size:  24px;
}
.formlog{
    margin-left: 2%;
    display: flex;

}
.buttonradius{
    border-radius: 20px;
}

#form{
    margin-top: 2%;
}
.mdpo{

    margin-left: 2%;
    color: white;
}

.margin{
    margin-top: 2%;
}
.padding{
    padding-top: 2%;
}

.left{
    margin-left: 2%;
}

.return{
    margin-left: 2%;
    margin-top: 20px;
}

body{
   margin: 0;

   display: flex;
    flex-direction: column;

}

.textform{
    margin: auto;
    text-align: center;
    width: 70%;
}

#form_comment{
    width: 50%;
    text-align: center;
}

#moyenne{
    display: flex ;
    justify-content: space-between;
    margin-bottom: 10px;
}

main{
    background-color: #222222;
    background-image: url("../images/Parilly-257.jpg");
    background-size: cover;
    height: 80%;

}

aside
{
    background-color: rgba(255,255,255,0.9);
    min-height: 700px;
    width: 80%;
    margin: auto;
    padding-bottom: 2%;
}


footer{
    background-color: cornflowerblue;
    height: 110px;



}
header{
    background-color: cornflowerblue;

    height: 135px;
    color: white;
}

h1{
    text-align: center;
    margin-top: 0;
    padding-top: 10px ;
}
.connection{
    display: inline-block;
}


#modal
{
    display: none;
    padding: 10px;
    margin: 0 45% 0 45%;
    top: 70%;
    border-radius: 20px;

    position: absolute;
    border: #222222 solid;
    background-color: white;
}

.deconnection{
    background-color: white;
    border-radius: 20px;
   padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
}
.commentaire{
    padding-left: 20px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
   overflow: hidden;
    margin-bottom: 2%;

}
@supports (line-break: anywhere ) {
    .commentaire{
        padding-left: 20px;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        line-break: anywhere;

    }
}



.formgrade{
    width: 50%;
    margin: 5%;

}

#filter{
    text-align: center;
   margin-top:20px;
}

input{
    border-radius: 20px;
}
.field{
    border-radius: 20px;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
.fieldgrade{
    border-radius: 20px;
    text-align: center;
    display: block;

    margin-bottom: 5px;
}

.listederoulante{
margin-bottom: 1.5%;
}

#error{

    font-size: 20px;
}

.buttonnav{
    padding: 4px 10px 4px 10px;
    text-decoration: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 20px;
    margin-left: 2%;



}

.buttonnav:hover{

    background-color: red;

}

#graphic{
    display: inline-block;
    width: 600px;
    height: 300px;
    margin: auto;


}


.formulaire{

    width: 50%;
    line-height: 200%;
    text-align: center;
    margin: auto;
    margin-top: 3.5%;
}
.formulaire-com{
    width: 60%;
    line-height: 200%;
    text-align: center;
    margin: auto;

}

#comment-main-box{
    width: 80%;
    border: red solid ;
    border-radius: 20px;
    padding-bottom: 2%;
    margin: auto;
    margin-bottom: 2%;
}
#comment-main-box>.buttonnav{
text-align: center;
    margin-left: 2%;
    ;
}

#comment-title{
    border-bottom: red solid;
    font-size: 20px;
    text-align: center;
}
h5{
    text-align: center;
}

#averagegrade{

    font-size: 1.7em;
    display: inline-block;
    text-align: center;
    border: black solid;
}

.avg {
    border-bottom: black solid;
}

legend{
    line-height: 100%;
}
table{
    margin: auto;
    margin-top: 2%;
    text-align: center;
    border-radius: 20px;
}




.navigation{
    text-align: center;
    margin-bottom: 10px;
}


@media (max-width: 1415px) {


    .mdp {
        display: none;
    }


    @media (max-width: 1200px) {

        #moyenne {
            flex-direction: column;
        }

        .ico {
            float: right
        }

        header {
            height: auto;
        }

        aside {
            width: 100%;
        }

        .connection {

        }

        .pass {
            margin-left: 5%;
        }

        .hide {
            display: none;
        }


        #graphic {
            display: inline-block;
            width: 350px;
            height: 200px;


        }

        .txtarea {

            width: 100%;
        }

        .submit {
            display: block;
            margin: auto;
            margin-bottom: 20px;
        }


        #modal {

            height: auto;
            position: absolute;
            border: #222222 solid;
        }

        .navigation > a {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 80%;
            margin-bottom: 10px;
        }

        #averagegrade {
            display: inline-block;
            font-size: 1em;
            text-align: center;


        }

    }
}



